body{
    padding:0;
    margin:0;
    display:block;     
 }
 
 .container{
     width:1200px;
     margin: 0 auto;
     display: block;   
 }

li.nav-item {
    margin-left: 20px;
}

.page{
    background-image: url(../images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -60px;
    
}

.website{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 300px;
}

.info h6{
    color: white;
}

.What{
    margin-top: 50px;
}

.minimal h5{
    text-decoration-color:skyblue !important ;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness:4px;
}

.minimal p{
    font-size: larger;
    color: black !important;
}

.feature-mockup img{
    width: 100%;
}

.team{
    background-color: rgb(241, 237, 237);
    margin-top: 50px;
    height: 850px;
}

.professional h1{
    text-align: center;
    margin-top: 50px;
}

.andrew img{
    width: 100%;
}

.teammates{
    background-color: whitesmoke;   
}

.andrew-text{
    background-color: white;
}

.feedback img{
    width: 100%;
}

.people{
    background-color: black;
}

.said h3{
    color: white;
    margin-top: -10px;
}

.said p{
    color: white;
    font-size: larger;
}

.users img{
    border-radius: 25px;
    width: 50px;
}

.easy p{
    color: black !important;
}

.design p{
    color: black !important;
}

.carousel{
    background-color: black;
}

.user{
    padding: 20px;
}

.carousel {
    padding: 30px;
    position: relative;
}

.slider{
    margin-top: 100PX;
    margin-bottom: 50px ;
}

.choose{
    background-color: whitesmoke;
}

.plans h3{
    margin-top: 100px;
    text-align: center;
}

.plan p{
    color: black;
}

.plan{
    background-color: white;
    border: solid;
    border-color: white;
    padding:20px;
}

.line{
    margin-top: 30px;
}

button.btn.btn-outline-success {
    border-radius: 20px;
    color: white;
    border-color: #198754;
    background-color: #198754;
}

.plan{
margin-top: 50px;
}

.logo h5{
    color: white;
    font-weight: bold;
}

.blue{
    background-color: rgb(10, 39, 48);
    opacity: 60%;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white !important;
}

.name p{
    color: white;
}

.professional p{
    color: white;
    font-size: small;
    font-weight: bold;
}

.manage h2{
    color: white;
    text-align: center;
}

.hello h1 {
    text-align: center;
}

button.btn-dark {
    margin-top: 17px;
    height: 46px;
    border-radius: 50px;
}

header{
    color: white;    
}

#inputPassword3{
    height: 200px;
}

.enter{
    display: flex;
    justify-content: center;
    text-align: center;
}

.your{
    border-radius:40px;
}

.email{
    width: 200px;
}

button.start{
        color: white;
        border: none;
        background-color: #198754;
        border-radius: 25px;
        height: 37px;
        margin-top: 3px;
        width: 120px;
}

.your{
    border: solid;
    border-radius: 10px;
}

input.form-control.your {
    width: 250px;
    border-radius: 20px;
    border: solid;
    background-color: white;
}

.right img {
    width: 20px;
    margin: 10px;
}